h1 New answer for question 

h2= link_to @question.title, url_for(@question)
br/
br/
hr/
p= @answer.body



/ h1 Notification#notification
/ p = "#{@greeting}, find me in app/views/notification_mailer/notification.html.slim"
