
div
  .btn-group.btn-group-sm
    - if can?(:vote_up, resource)    
      p = link_to "vote up", polymorphic_path(resource, action: :vote_up),
                            method: :patch,
                            data: { type: :json },
                            class: 'btn btn-success btn-vote',
                            remote: true

    - if can?(:vote_down, resource)  
        p = link_to "vote down", polymorphic_path(resource, action: :vote_down),
                                method: :patch,
                                data: { type: :json },
                                class: 'btn btn-danger btn-vote',
                                remote: true

    - if can?(:unvote, resource)  
        p = link_to "unvote", polymorphic_path(resource, action: :unvote),
                              method: :delete,
                              data: { type: :json },
                              class: 'btn btn-info btn-vote',
                              remote: true

    .vote-result data-vote-id='#{resource.class.name.underscore}-#{resource.id}'
      p = resource.rating
